<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BHR Header</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <a class="nav-link" data-nav-link="index.html">
                    <i class="fas fa-hands-helping"></i> BHR
                </a>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-menu">
                <li><a class="nav-link" data-nav-link="index.html">Home</a></li>
                <li><a class="nav-link" data-nav-link="pages/about.html">About</a></li>
                <li><a class="nav-link" data-nav-link="pages/what-we-do.html">What We Do</a></li>
                <li><a class="nav-link" data-nav-link="pages/get-involved.html">Get Involved</a></li>
                <li><a class="nav-link" data-nav-link="pages/leadership.html">Leadership</a></li>
                <li><a class="nav-link" data-nav-link="pages/resources.html">Resources</a></li>
                <li><a class="nav-link" data-nav-link="pages/contact.html">Contact</a></li>
                <li><a class="nav-link nav-cta" data-nav-link="pages/get-involved.html">Get Involved</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>
